<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mini Twitter</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style media="screen">
      #twitter_img{
        width: 30%;
        height: 40%;
        margin-left: 40%;
      }
      form{
        padding-top: 25px;
        margin-left: 42%;
      }
    </style>
  </head>
  <body>
    <div class="">
      <img id = "twitter_img"src="static/twitter.jpg" alt="" >
      <form method="POST">
      <button type="submit" name="button">Login in to twitter</button>

      <!-- <input name="pin" placeholder="Enter your pin"> -->

      <!-- <input type="submit"> -->
  </form>
    </div>

  </body>
</html>
